<div class="login container">
  <div class="login-content">
    <div class="login-branding">
      <img class="logo-icon" src="../../assets/grafana_icon.svg" alt="Grafana" />
      <i class="icon-gf icon-gf-grafana_wordmark"></i>
    </div>
    <div class="login-outer-box">
      <div class="login-inner-box" id="login-view">
        <form name="loginForm" class="login-form-group">
          <div class="login-form">
            <input type="text" name="username" class="gf-form-input login-form-input" >
          </div>
          <div class="login-form">
            <input type="password" name="password" class="gf-form-input login-form-input" id="inputPassword" placeholder="password">
          </div>
          <div class="login-button-group">
            <button type="submit" class="btn btn-large p-x-2" ng-click="submit();">
              Log In
            </button>
            <div class="small login-button-forgot-password">
              <a href="user/password/send-reset-email">
                Forgot your password?
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
