.login {
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin-left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/heatmap_bg_test.svg);
  background-size: cover;
  color: #d8d9da;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.login-form {
  margin-bottom: 1rem;
  width: 100%;
}

.login-form-input {
  border-radius: 4px;
  opacity: 0.6;
  background: black;
  color: #fbfbfb;
}

.login-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}

.login-button-forgot-password {
  padding-top: 1rem;
}

.login-content {
  max-width: 700px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 1;
  min-height: 320px;
}

.login-branding {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-top: 2rem;

}

.login-outer-box {
  display: flex;
  overflow-y: hidden;
}

.login-inner-box {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 415px;
  transition: 0.25s ease;
}

.login-oauth {
  width: 100%;
}

.login-divider {
  float: left;
  width: 100%;
  margin: 0 25% 1rem 25%;
  display: flex;
  justify-content: space-between;
}

.login-signup-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

.login-signup-title {
  justify-self: flex-start;
  flex: 1;
  text-align: left;
}

.login-btn {
  width: 100%;
  margin: 0 0 1rem;
}

.login-bg-fx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
}
