<div class="navbar">

	<div>
		<a class="navbar-page-btn" ng-click="ctrl.showSearch()">
			<i class="gicon gicon-dashboard"></i>
			<span ng-if="ctrl.dashboard.meta.folderId > 0" class="navbar-page-btn--folder">{{ctrl.dashboard.meta.folderTitle}} / </span>{{ctrl.dashboard.title}}
			<i class="fa fa-caret-down"></i>
		</a>
	</div>

	<div class="navbar__spacer"></div>

	<div class="navbar-buttons navbar-buttons--actions">
		<button class="btn navbar-button navbar-button--add-panel" ng-show="::ctrl.dashboard.meta.canSave" bs-tooltip="'添加'" data-placement="bottom" ng-click="ctrl.addPanel()">
			<i class="gicon gicon-add-panel"></i>
		</button>

		<button class="btn navbar-button navbar-button--star" ng-show="::ctrl.dashboard.meta.canStar" ng-click="ctrl.starDashboard()" bs-tooltip="'星标'" data-placement="bottom">
			<i class="fa" ng-class="{'fa-star-o': !ctrl.dashboard.meta.isStarred, 'fa-star': ctrl.dashboard.meta.isStarred}"></i>
		</button>

    <button class="btn navbar-button navbar-button--save" ng-show="ctrl.dashboard.meta.canSave" ng-click="ctrl.saveDashboard()" bs-tooltip="'保存 <br> CTRL+S'" data-placement="bottom">
			<i class="fa fa-save"></i>
		</button>

		<button class="btn navbar-button navbar-button--settings" ng-click="ctrl.toggleSettings()" bs-tooltip="'设置'" data-placement="bottom" ng-show="ctrl.dashboard.meta.showSettings">
			<i class="fa fa-cog"></i>
		</button>
	</div>

	<div class="navbar-buttons navbar-buttons--tv">
    <button class="btn navbar-button navbar-button--tv" ng-click="ctrl.toggleViewMode()" bs-tooltip="'切换视图'" data-placement="bottom">
      <i class="fa fa-desktop"></i>
    </button>
  </div>

	<gf-time-picker class="gf-timepicker-nav" dashboard="ctrl.dashboard" ng-if="!ctrl.dashboard.timepicker.hidden"></gf-time-picker>

	<div class="navbar-buttons navbar-buttons--close">
		<button class="btn navbar-button navbar-button--primary" ng-click="ctrl.close()" bs-tooltip="'返回'" data-placement="bottom">
			<i class="fa fa-reply"></i>
		</button>
	</div>

</div>

<dashboard-search></dashboard-search>
